<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266349167469-9gvd1mrlvgffvkuhekk6mkjeqs0kcfe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266349167469-9gvd1mrlvgffvkuhekk6mkjeqs0kcfe2</string>
	<key>API_KEY</key>
	<string>AIzaSyCswHDE_hAAdD9clCCyHO1lcaJQckB39uM</string>
	<key>GCM_SENDER_ID</key>
	<string>266349167469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vlad-Lytvynets.SearchMovies</string>
	<key>PROJECT_ID</key>
	<string>search-movies-659c4</string>
	<key>STORAGE_BUCKET</key>
	<string>search-movies-659c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:266349167469:ios:fb14c66b9f625c3c471064</string>
	<key>DATABASE_URL</key>
	<string>https://search-movies-659c4-default-rtdb.europe-west1.firebasedatabase.app/</string>
</dict>
</plist>
